.BG {
    width: 496px;
    height: 251px;
    margin: 18px 2px 39px 0;
    padding: 10px 13.5px 15.8px 12px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
    background-color: #fff;
  }
  .Chart-Grid {
    width: 447.8px;
    height: 131.8px;
    margin: 5.2px 0 3px 7.7px;
    padding: 1.8px 20.5px 1px 11.3px;
    background-color: #eaf0f4;
  }